{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
YG Coffee - Login Page
{% endblock title %}

{% block style %}
.bg-faded {
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 250px;
}

hr.divider {
    border-color: #292b2c;
    max-width: 250px;
}
{% endblock style %}

{% block content %}
<br>
<div class="bg-faded p-4 my-4">
<hr class="divider">
    <form action="{% url 'arabica:login' %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <input class = "btn btn-danger btn-lg btn-block" type="submit" value="Login">
    </form>
   <hr class="divider">
</div>


{% endblock content %}