{% extends "base.html" %}
{% block title %}
YG Coffee - Cart: {{cart.user|title}}
{% endblock title %}

{% block style %}
tr {
	color: white;
}

{% endblock style %}



{% block content %}

<div class="row">
<div class="col-sm-12">
<h1>Your cart:</h1>
<table class="table">
{% for item in cart.cartitem_set.all %}
<tr>
<td>
{{item.item.name}}
</td>
<td>
<form action="{% url 'cart:mycart' %}" method="GET"><br>
<input type="hidden" name="item" value="{{item.item.id}}">
<input type="number" name="qty" value="{{item.quantity}}"> 
<input type="submit" class="btn btn-warning" value="Update Item">
</form>
</td>
<td>
{{item.line_item_total}}
</td>
</tr>
{% endfor %}
<tr>Subtotal: {{cart.subtotal}}</tr>&emsp;
<tr>Delivery: {{cart.delivery_total}}</tr>&emsp;
<tr>Total: {{cart.total}}
</table>
</div>
</div>





{% endblock content %}